{{ev-title title='Conditional Validator for property.'}}
<p>Validation rules defined for the property is processed only if the supplied condition pass
  or else skips validation for the property.</p>

<h2>Types</h2>
<ul>
  <li>
    <span class='argument'>if</span>
    <p class='description'>Validates the property if the value returned is `true`.</p>
  </li>
  <li>
    <span class='argument'>unless</span>
    <p class='description'>Validates the property if the value returned is `false`.</p>
  </li>
</ul>

<h2>How to use?</h2>
<pre><code>
  // A non mandatory field that needs to contain only numbers.
  // Validates only if the value is present.
  description: {
    'if': function(model, property) {
      var value = model.get('property');
      return !Ember.isEmpty(value);
    },

    length: {
      minimum: 4,
      maximum: 20
    },

    pattern: {
      with: /^[a-zA-Z]*$/,
      message: 'Must contain only alphabet'
    }
  }

</code></pre>

<h2>Example</h2>
<form {{action 'submit' on='submit'}} class='example' autocomplete="off">
  <ul>
    <li>Description Field: (optional)</li>
    <li class='{{unless model.validationResult.description.hasError 'hide'}} error-msg'>{{model.validationResult.description.error}}</li>
    <li>{{input type='text' value=model.description classNameBindings='model.validationResult.description.hasError:error-field'}}</li>
    <li><button type='submit'>Submit</button></li>
  </ul>
</form>
